* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
    position: relative;
    padding-top: 0.1px;
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
#nav h2{

    height: 100%;
    width: 24%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 600;
    

}#nav h1{
    height: 100%;
    width: 18%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -2px;

}
#nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: red; */
}
#center{
    height: 90%;
    width: 100%;
    /* background-color: red; */
    padding: 4vw;
    position: relative;
}
#center-in{
    height: 100%;
    width: 100%;
    /* background-color: rebeccapurple; */
    position: relative;
}
#center-in video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#overlary{
    height: 53%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: red; */
    padding: 3vw;
    color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
#over1 h1{
    font-family: monospace;
    font-size: 3.5vw;
}
#over1 h2{
    font-family: monospace;
    font-size: 1vw;
    padding: 2vw 2.5vw;
    border-radius: 50%;
    border: 2px solid white;


}
#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid rgb(255, 255, 255);
}
#over2 h2{
    font-size: 1.3vw;
    font-weight: 500;
}